PORT=28837
DB_HOST=mysql-1b73a232-syle-hub1709.c.aivencloud.com
DB_USER=avnadmin
DB_PASSWORD=AVNS_AwV3Y0X_YFvSVrNtIj7
DB_NAME=defaultdb
DATABASE_URL=mysql://avnadmin:AVNS_AwV3Y0X_YFvSVrNtIj7@mysql-1b73a232-syle-hub1709.c.aivencloud.com:28837/defaultdb?ssl-mode=REQUIRED
ADMIN_EMAIL=
ADMIN_PASSWORD=
SESSION_SECRET=
